@{
  Layout = "_Layout";
}

@model Inventory.Models.Collection

<h2>Edit</h2>

<h4>Edit this collection: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CollectionId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to collections", "Index")</p>